<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>MVC</title>
  </head>
  <body>
    <nav id='navbar'>
      <ul>
        <li><a href='/v1/tasks'>Ver Todas</a></li>
        <li><a href='/v1/tasks/create'>Criar</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>